<div class="container">
    <div class="feedback-form">
      <h1>Write your feedback here</h1>
      <mat-stepper orientation="vertical" #stepper>
  \      <mat-step [stepControl]="feedbackForm.get('name')!">
          <form [formGroup]="feedbackForm">
            <ng-template matStepLabel>Fill out your name</ng-template>
            <mat-form-field>
              <mat-label>Name:</mat-label>
              <input type="text" matInput formControlName="name" placeholder="Enter your name" required>
            </mat-form-field>
            <div>
              <button mat-stroked-button matStepperNext [disabled]="!feedbackForm.get('name')?.valid">Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="feedbackForm.get('feedback')!">
          <form [formGroup]="feedbackForm">
            <ng-template matStepLabel>Write your feedback</ng-template>
            <mat-form-field>
              <mat-label>Feedback:</mat-label>
              <textarea matInput formControlName="feedback" placeholder="Enter your feedback" required></textarea>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-stroked-button matStepperNext [disabled]="!feedbackForm.get('feedback')?.valid">Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <p>You are now done.</p>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-stroked-button (click)="submitFeedback()">Submit</button>
          </div>
        </mat-step>
      </mat-stepper>
    </div>
  
    <div class="feedback-list">
      <h1>Reviews</h1>
      <div appHover *ngFor="let feedback of feedbacks" class="feedback-item">
        <strong>{{ feedback.name }}: </strong>
        <p> {{ feedback.feedback }} </p>
        <strong style="color: #673AB7;"><span> Total words: {{ feedback.feedback | wordCount }} </span></strong>
      </div>
    </div>
  </div>