.container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: flex-start;
    height: auto;
    padding-top: 25px;
    background-color: rgb(243, 242, 242);
    text-align: center;
}

h2 {
    font-style: italic;
    letter-spacing: 1px;
}

span {
    font-size: 18px;
}

.wrapper {
    width: 92%;
    padding: 20px;
}

.mat-mdc-row .mat-mdc-cell {
    cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
    background-color: #ededed;
}

mat-icon {
    cursor: pointer;
}

.delete-button {
    color: #f44336;
    border: none;
    background-color: transparent;
}

.edit-button {
    color: #0077ee;
    border: none;
    background-color: transparent;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.table-heading {
    color: #673ab7;
    margin-top: 12px;
    margin-left: 20px;
    width: 610px;
    font-size: 28px;
    font-weight: 600;
    text-align: left; 
}

.button-container button {
    border-radius: 50px;
    margin-right: 16px;
    padding: 1.2rem;
    border:1px solid #673ab7;
}

.button-container button:hover {
    background-color: #673ab7;
    color: white;
}

.custom-form-field {
    margin-bottom: -20px;
    flex-grow: 1;
}

.custom-form-field input {
    margin-bottom: -20px;
    flex-grow: 1;
}