.container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: flex-start;
    height: auto;
    padding-top: 70px;
    text-align: center;
}

mat-toolbar  {
    height: 47px;
    justify-content: space-between;
    position: fixed; 
    top: 0;
    left: 0; 
    right: 0; 
    z-index: 1000; 
}

span {
    font-size: 18px;
}

.wrapper {
    width: 60%;
    padding: 20px;
}

.mat-mdc-row .mat-mdc-cell {
    cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
    background-color: #ededed;
}

mat-icon {
    cursor: pointer;
}

.delete-button {
    color: #f44336;
    border: none;
    background-color: transparent;
}

.edit-button {
    color: #0077ee;
    border: none;
    background-color: transparent;
}

.button-container {
    display: flex;
    gap:20px; 
}

.spinner-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-form-field {
    width: 100%;
    max-width: 898px; 
    height: 76px; 
    margin-bottom: -25px;
}