<div class="container">
    <mat-expansion-panel class="cards" [hideToggle]="false">
        <mat-expansion-panel-header>Panel header</mat-expansion-panel-header>
         Panel body
    </mat-expansion-panel>

    <mat-expansion-panel class="cards" [hideToggle]="false">
        <mat-expansion-panel-header>Panel header</mat-expansion-panel-header>
         Panel body
    </mat-expansion-panel>

    <mat-expansion-panel class="cards" [hideToggle]="false">
        <mat-expansion-panel-header>Panel header</mat-expansion-panel-header>
         Panel body
    </mat-expansion-panel>

    <mat-expansion-panel class="cards" [hideToggle]="false">
        <mat-expansion-panel-header>Panel header</mat-expansion-panel-header>
         Panel body
    </mat-expansion-panel>

    <mat-expansion-panel class="cards" [hideToggle]="false">
        <mat-expansion-panel-header>Panel header</mat-expansion-panel-header>
         Panel body
    </mat-expansion-panel>

    <mat-expansion-panel class="cards" [hideToggle]="false">
        <mat-expansion-panel-header>Panel header</mat-expansion-panel-header>
         Panel body
    </mat-expansion-panel>
</div>