<app-nav (toggleDrawer)="toggleSidenav()"></app-nav>

<mat-drawer-container class="container" [hasBackdrop]="false">
    <mat-drawer #drawer opened class="side-menu">
        <mat-nav-list dense>
            <mat-list-item routerLinkActive="active">
                <a [routerLink]="['table']">
                    <mat-icon>groups</mat-icon>
                    Employees
                </a>
            </mat-list-item>
            <mat-list-item routerLinkActive="active">
                <a [routerLink]="['overview']">
                    <mat-icon>dashboard</mat-icon>
                    Overview
                </a>
            </mat-list-item>
            <mat-list-item routerLinkActive="active">
                <a [routerLink]="['feedback']">
                    <mat-icon>forum</mat-icon>
                    Feedback
                </a>
            </mat-list-item>
            <mat-list-item routerLinkActive="active">
                <a [routerLink]="['careers']">
                    <mat-icon>work</mat-icon>
                    Careers
                </a>
            </mat-list-item>
            <mat-list-item routerLinkActive="active">
                <a [routerLink]="['settings']">
                    <mat-icon>settings</mat-icon>
                    Settings
                </a>
            </mat-list-item>
            <mat-list-item>
                <mat-slide-toggle matTooltip= "{{ isDarkMode ? 'Turn off dark mode' : 'Turn on dark mode' }}" color="warn" class="toggle" [checked]="isDarkMode" (change)="toggleDarkMode()">
                    <span class="toogle-text"> {{ isDarkMode ? 'Dark Mode Enabled' : 'Dark Mode Disabled' }} </span>
                </mat-slide-toggle>
            </mat-list-item>
        </mat-nav-list>
    </mat-drawer>

    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>

</mat-drawer-container>