<div class="container">
    <mat-accordion>
        <mat-card>
            <mat-card-header>
                <div class="heading">
                    <mat-card-title>Employee Details</mat-card-title>
                </div>
            </mat-card-header>

            <mat-card-content>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title *ngIf="employee">
                            {{employee.name}}
                        </mat-panel-title>

                        <mat-panel-description class="view-details"><span *ngIf="!panelOpenState">View
                                Details</span></mat-panel-description>
                    </mat-expansion-panel-header>

                    <p *ngIf="employee">
                        Employee ID: {{employee.id}} | Name: {{employee.name}} | Age: {{employee.age}} | Category:
                        {{employee.category}}.
                        {{employee.name}} is a valuable member of our team, working in the {{employee.category}}
                        category. With an age of {{employee.age}},
                        {{employee.name}} brings a wealth of experience and knowledge to our organization.
                    </p>
                </mat-expansion-panel>
            </mat-card-content>

            <mat-card-actions align="start">
                <button mat-flat-button color="primary" routerLink="/employee">Back to the table</button>
            </mat-card-actions>
        </mat-card>
    </mat-accordion>
</div>