<app-nav></app-nav>

<mat-drawer-container class="container">
    <mat-drawer mode="side" opened class="side-menu">
        <mat-nav-list dense>
            <mat-list-item>
                <a [routerLink]="['table']">
                    <mat-icon>groups</mat-icon>
                    Employees
                </a>
            </mat-list-item>
            <mat-list-item>
                <a [routerLink]="['overview']">
                    <mat-icon>dashboard</mat-icon>
                    Overview
                </a>
            </mat-list-item>
            <mat-list-item>
                <a [routerLink]="['settings']">
                    <mat-icon>settings</mat-icon>
                    Settings      
                </a>
            </mat-list-item>
            <mat-list-item>
                <mat-slide-toggle color="warn" class="toggle" [checked]="isDarkMode" (change)="toggleDarkMode()">
                   <span class="toogle-text">  {{ isDarkMode ? 'Dark Mode Enabled' : 'Dark Mode Disabled' }} </span>
                </mat-slide-toggle>
            </mat-list-item>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>