mat-toolbar  {
    height: 49px;
    justify-content:space-between;
    position: fixed; 
    top: 0;
    left: 0; 
    right: 0; 
    z-index: 1000;
}

.span{
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
}

.name-span {
    margin-right: 54rem;
}

.notifi {
    font-size: 22px;
}

.menu-toogle-btn {
    background-color: #7e51ca;
}

.menu-toogle-btn:hover {
    background-color: #512da8;
}

