mat-toolbar {
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 0 16px;
}

.date {
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    margin-right: 1rem;
    margin-top: 6px;
}

.icons {
    display: flex;
    align-items: center;
}

.span {
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
}

.name-span {
    margin-right: auto;
    font-style: italic;
}

.notifi {
    font-size: 22px;
}

.menu-toogle-btn:hover {
    background-color: #512da8;
}

@media (max-width: 768px) {
    .name-span {
        font-size: 20px;
        text-align: left;
        margin-right: auto;
    }

    .notifi {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .name-span {
        display: none;
    }
}