<!---->

<mat-grid-list cols="2" rowHeight="1.6:1">
    <mat-grid-tile>
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Employee Distribution By Category
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div #chartDiv style="width: 100%; height: 275px; margin-top: 10px; margin-left: 15px;"></div>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile><mat-card>Hello</mat-card></mat-grid-tile>
    <mat-grid-tile><mat-card>Hello</mat-card></mat-grid-tile>
    <mat-grid-tile><mat-card>Hello</mat-card></mat-grid-tile>
</mat-grid-list>