/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Dark Mode Styles */
body.dark-mode {
    background-color: #1d1d1d;
}

body.dark-mode .mat-drawer {
    background-color: #1d1d1d !important;
}

body.dark-mode .mat-toolbar {
    background-color: #1d1d1d !important;
    color: white !important;
}

body.dark-mode .mat-list-item a {
    color: white !important;
}

body.dark-mode .profile-img {
    border: 3px solid black;
}

body.dark-mode .table-heading {
    color: black;
}

body.dark-mode .edit-button {
    color: black;
}

body.dark-mode .button-container button {
    border-color: black;
}
