/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Dark Mode Styles */
body.dark-mode {
    background-color: #1d1d1d;
}

body.dark-mode .mat-drawer {
    background-color: #1d1d1d !important;
}

body.dark-mode .mat-toolbar {
    background-color: #1d1d1d !important;
    color: white !important;
}

body.dark-mode .mat-list-item a {
    color: white !important;
}

body.dark-mode .profile-img {
    border: 3px solid black;
}

body.dark-mode .table-heading {
    color: rgb(255, 255, 255);
}

body.dark-mode .container {
    background-color:#3b3b3b !important;
}

body.dark-mode table .mat-row:hover {
    background-color: transparent !important;
  }

body.dark-mode table {
    background-color: #696969 !important;
}

body.dark-mode mat-paginator {
    background-color: #696969 !important;
    color: rgb(0, 0, 0);;
}

body.dark-mode th {
    color: rgb(0, 0, 0);
}

body.dark-mode td {
    color: rgb(0, 0, 0);;
}

body.dark-mode mat-sort {
    color: white;
}

body.dark-mode .container .button-container button {
    color: white;
    border-color: #696969;
}

body.dark-mode .container .button-container button:hover {
    background-color: #696969;
}